#map {
    height: 100%;
    z-index: 2;
}

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
}

body {
    padding-top: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    z-index: 35;
    box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: black;
}